.none {
    display: none !important;
}

body {
    /*background: rgba(0, 102, 255, 0.38);*/
    font-family: sans-serif;
}

p {
    margin: 0 0 5px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.row > div {
    width: 25%;
    /*float: left;*/
    padding-right: 25px;

}.row > div > span:first-child{

     display: inline-block;
     height: 100%;
     line-height: 200%;

}



.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.icons {
    float: right;
}

.icons > i:first-child{
    display: -webkit-box;
    display: -moz-box;
}

.table {
    padding: 12px 15px;
    border: 2px black solid;
}

.table > div {
    padding: 15px;
    border-bottom: 2px rgba(0,0,0,0.7) solid;
}

.table > div:last-child{
    border-bottom: none;
}

.table > div:first-child {
    background-color: #eeeeee;
    padding: 15px;
}

.last-block {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.col-md-8 {
    width: 66.66666667%;
    padding: 0 15px;
}

.col-md-4 {
    width: 33.33333333%;
    padding: 0 15px;
}

.counts {
    position: absolute;
    right: 0;
}

.counts li {
    display: inline-block;
    text-align: right;
    padding: 6px;
    border-right: 2px solid black;
}

.counts li:last-child {
    border-right: none;
}

.counts ul{
    padding-left: 0;
    border: 2px solid black;
}

.paginate {
    width: 100%;
}


.result{
    margin-top: 15px;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.active {
    color: white;
    background-color: black;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.pagination li.active{
    cursor: auto;
}

.hidden {
    display: none !important;
}

.table i,
.counts li{
    cursor: pointer;
}

.app {
    display: flex;
    width: 100%;
}


#filter {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    border: 2px black solid;
    flex-direction: column;
}

#filter select ,
#filter input{
    margin-bottom: 20px;
    height: 25px;
    border: none;
    padding: 0 5px;
    background: #eee;
    border: 2px black solid;
}

#filter input {
    color: white;
    background: black;
    font-weight: bold;
}


@media all and (max-width: 768px){
    .col-sm-12 {
        width: 100% !important;
    }

    .app {
        flex-wrap: wrap;
        max-width: 90%;
    }

    .table {
        padding: 0;
    }

    .table > div:first-child {
        padding: 15px 5px;
    }

    .row > div {
        padding-right: 0;
    }

    .row > div {
        width: 50%;
        padding-right: 4%;
    }

    .row__ganre,
    .row__year {
        display: none;
    }

    .counts {
        position: relative;
         width: auto;
        margin: 0 auto;
    }

    .last-block {
        flex-wrap: wrap;
    }
    .pagination li {
        padding: 5px 8px;
        margin: 5px;
    }

    .app > div:first-child {
        order: 1;
    }
}

